<!doctype html>
<html>
  <head>
    <title>PoE Calculator</title>
  </head>

  <body>
    <h1>Divine to Chaos Converter</h1>
    <input type="number" id="divine-amount" value="1" />
    <button id="convert-button">Convert</button>
    <p id="result"></p>
    <table id="card-table">
      <thead>
        <tr>
          <th>Card</th>
          <th>Price (ea)</th>
          <th>Stack Cost</th>
          <th>Reward Value</th>
          <th>Profit</th>
        </tr>
      </thead>
      <tbody id="card-table-body">
        <td>
          <input
            type="number"
            class="price-input"
            value="${priceLine.primaryValue.toFixed(1)}"
          />
        </td>
        <td class="stack-cost-cell">${stackCost.toFixed(1)}</td>
        <td>${rewardValue.toFixed(1)}</td>
        <td class="profit-cell">${profit.toFixed(1)}</td>
      </tbody>
    </table>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
